
  /* Aplica estilos al footer */
  .footer {
    background-color: #333;
    color: #fff;
    padding-top: 1rem;
  }
  
  /* Agrega un margen superior para separar el footer del contenido */
  .footer-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
  }
/* Footer container */
.footer {
    background-color: #333;
    color: #fff;
    padding: 0 ;
    padding-top: 1rem;
    margin-top: 4rem;
  }
  
  .footer-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }
  
  /* Footer sections */
  .footer-section {
    flex: 1;
    padding: 1rem;
  }
  
  .footer-section h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: #ff9900;
  }
  
  .footer-section p {
    margin-bottom: 0.5rem;
  }
  
  /* Social icons */
  .social-icons {
    display: flex;
    gap: 1rem;
  }
  
  .social-icons a {
    color: #fff;
    font-size: 1.5rem;
    transition: color 0.3s ease;
  }
  
  .social-icons a:hover {
    color: #ff9900; /* Cambia el color al pasar el mouse */
  }
  
  /* Footer bottom */
  .footer-bottom {
    background-color: #222;
    padding: 0.5rem 0;
    text-align: center;
    color: #ff9900;
  }
  
  .footer-bottom p {
    margin: 0;
    font-size: 0.8rem;
  }
  
  /* Enlaces en el footer */
  .footer-section ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-section ul li {
    margin-bottom: 0.5rem;
  }
  
  .footer-section ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .footer-section ul li a:hover {
    color: #ff9900; /* Cambia el color al pasar el mouse */
  }
  
  .footer-section p strong {
    font-weight: bold;
    color: #ff9900;
  }

/* Cambios para dispositivos móviles */
@media (max-width: 767px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
  }
}